<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Partida</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>          
           
            
            <form method="post" th:action="@{/partida/anyadirInvitados}" th:object="${posiblesinvitados}"> 
                <table border="2">
                    <tr th:each="elem : ${posiblesinvitados}">
                        <!--<td><input type="checkbox" th:name="${'elem' + #strings.toString(elem.id)}" th:id="${'elem' + #strings.toString(elem.id)}" checked /></td>-->
                        <td><input type="checkbox" th:name="${elem.nombreId}" id="${elem.nombreId}" checked /></td>
                        <td th:text="${elem.nombre}"></td>                    
                    </tr>
                </table>

                <input type="submit" value="Añadir"/>                
            </form>
            
            <p th:text="${result}"></p>
        </div>
    </body>
</html>
