<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PlayListGame</title>
        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    </head>
    <body>
        
            
            <p>PAGINA DE LOGIN</p>
            
            <form method="post" th:action="@{/}">                
                <input type="text" placeholder="Usuario (mail)" name="elUsuario" required="required"/>
                <input type="text" placeholder="Contraseña" name="laContrasenya" required="required"/>
                <input type="submit" value="ACCEDER"/>                
            </form>
            <p th:text="${error}"></p>
            <br/>
            <br/>
            <a href="/altaUsuario" class="button" id="altaUsuario"> ALTA USUARIO </a>
            
            
            
          
    </body>
</html>
