<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pagina de Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
         <script>
            function login()
                window.alert("miguel");
        </script>   
        <div>
            <button onclick="login()">Login</button>
        </div>
        <button onclick="alert('pepepepe')">Loginprueba</button>
        
       
        
        <!--<script th:src="@{Login.js}"></script>-->
    </body>
</html>
