<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Panel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div th:object="${usuarioSesion}">

            <p th:text="*{usuario}"></p>
            <p th:text="*{hayPartidasMaster()}"></p>


            <div th:if="*{hayPartidas()} == true">
            
            
                <a href="/partida" class="button" id="partidasactuales"> PARTIDAS ACTUALES </a>
                <br/>
            
            
                <br/>
            </div>
            <div th:if="*{hayPartidasMaster()} == false">
                
                <a href="/partida/crear" class="button" id="crearpartida"> CREAR PARTIDA </a>
            
            
            </div>
        </div> 

    </body>
</html>
