<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Panel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div th:object="${usuarioSesion}">

            <p th:text="*{nombre}">Usuario : </p>
            
            <div th:if="*{partidaMasterPendienteAnyadirJugadores()} != null">
            
            
                <a href="/partida" class="button" id="partidaMasterPendienteAnyadirJugadores"> PARTIDA PENDIENTE DE AÑADIR USUARIOS</a>
                <br/>
            
            
                <br/>
            </div>


            <div th:if="*{partidaMasterEnCurso()} != null">
            
            
                <a href="/partida" class="button" id="partidaMasterEnCurso"> PARTIDAS MASTER EN CURSO </a>
                <br/>
            
            
                <br/>
            </div>
            
            
            <div th:if="*{hayPartidasInvitadoPendientes()} == true">
            
            
                <a href="/partida/anyadirInvitados" class="button" id="partidasInvitadoPendientes"> PARTIDAS INVITADO EN CURSO </a>
                <br/>
            
            
                <br/>
            </div>
            
            
            <div th:if="*{sePuedeCrearPartidaMaster()} == null">
                
                <a href="/partida/crear" class="button" id="crearpartida"> CREAR PARTIDA </a>
            
            
            </div>
        </div> 

    </body>
</html>
