<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Partida</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
              
            
            <div>
            
               <table border="2" >
                   
                   <tr>
                       <td><p>PARTIDA</p></td>
                       <td><p th:text="${partidaSesion.descripcion}"></p></td>
                   </tr>
                   
                   <tr th:each="ronda : ${partidaSesion.rondas}">
                         <td th:text="'RONDA ' + ${ronda.numero}"></td> 
                         
                         <td th:if="${ronda.estaCompletada()}">
                            <p th:text="'Titulo: ' + ${ronda.cancion.titulo}"></p>
                            <p th:text="'Interprete: ' + ${ronda.cancion.interprete}"></p>
                            <p th:text="'Año: ' + ${ronda.cancion.anyo}"></p>
                         </td>
                         
                         <td th:if="${partidaSesion.rondaActual != ronda.numero && !ronda.estaCompletada()}">
                            <p>Pendiente</p>
                         </td>
                        
                         <td th:if="${partidaSesion.rondaActual  == ronda.numero}">
                            <audio controls>
                                <source th:src="${ronda.cancion.spotifyplay}" type="audio/mpeg"/>
                            </audio> 
                             
                            <form method="post" action="/partida" >                
                                <input type="number" name="anyo" required="required"/>          
                                <input type="submit" value="Responder"/>                
                            </form>
                            
                        </td>     
                   </tr>                   
                </table>   
            
            </div>
    </body>
</html>
