<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Partida</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
              
            <p>PARTIDA</p>
            <div th:object="${ronda}">
            
               <table border="2">
                   
                   <tr>
                         <td th:text="'RONDA ' + ${ronda.numero}"></td>
                   </tr>
                   <tr></tr>
                   <tr>
                        <td>
                            <audio controls>
                                <source th:src="${cancion.spotifyplay}" type="audio/mpeg"/>
                            </audio>                            
                        </td>     
                   </tr>                   
                </table>   
            
            </div>
    </body>
</html>
