<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spotify</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="stylesheet" href="estilos/General.css">-->
        
    </head>
    <body>
        <div>
            
            <form method="post" th:action="@{/spotifyServicios}">                
                <input type="text" placeholder="Id de PlayList" name="idplaylist" required="required"/>
                <input type="text" placeholder="Año de la PlayList" name="anyoplaylist" required="required"/>
                <input type="submit" value="Procesar"/>                
            </form>
            
            <form method="post" th:action="@{/spotifyServiciosBD}"> 
                <input type="submit" value="Procesar Listas BD"/>                
            </form>
            
            <!--
            <a th:href="@{/api/spotify/user-saved-album(userId=${userid})}">prueba servicio</a>
            <a th:href="@{/api/spotify/playList(userId=${userid})}">PlayList</a>
            -->
            
            <p th:text="${info}"></p>
            
        </div>
    </body>
</html>
