<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlsn="http://w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PlayHitsGame</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="encabezado">
            <h1>Juego de Musica</h1>
        </header>  
        
        <footer th:fragment="pie">
            <h1><p>Mail:</p><a href="mailto:ml_duran@live.com">ml_duran@live.com</a></h1>
        </header> 
        
    </body>
</html>
